/vendor/
/node_modules/
/.env
/.env.backup
/.env.example.save
/.phpunit.result.cache
/storage/*.key
/storage/app/public/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/public/hot
/public/storage
/bootstrap/cache/*
/public/build
/public/hot
/.idea/
/.vscode/
*.log
.DS_Store
Thumbs.db
composer.phar